* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 18px;
}

.App {
  min-height: 100vh;
  text-align: center;
}
.App,
.container__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container__main {
  display: flex;
  min-height: 600px;
}
.container__main h1 {
  max-width: 940px;
  margin: 40px 0;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
